<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <script src="../js/jquery-1.9.1.min.js"></script>
</head>

<body>
    <div class="container drag" id="navbar">
        <h1 id="brand">iProxier</h1>
    </div>
    <div class="container-fluid">
        <div id="login-check-view" style="text-align: center;">
            <img src="../image/ripple.svg" />
            <h1 id="login-process-tips">Waiting for check token.</h1>
        </div>
        <div id="login-input-view" class="hidden center-block">
            <form>
                <div class="form-group input-group-lg">
                    <label for="username">
                        <h5>Username</h5></label>
                    <input type="username" class="form-control" id="username" placeholder="Username">
                </div>
                <div class="form-group input-group-lg">
                    <label for="password">
                        <h5>Password</h5></label>
                    <input type="password" class="form-control" id="password" placeholder="Password">
                </div>
                <div type="button" class="btn btn-info btn-lg pull-right" id="submit">Login</div>
            </form>
        </div>
    </div>
</body>
<script src="../../modules/login.js"></script>

</html>